$primary_color:#00a82d;.layout-services.services-layout5 .bg-overlay {
                background-color:rgba(0, 168, 45, 0.9);
            }.single-services .cms-cta-wrapper:before {
                background-color:rgba(0, 168, 45, 0.95);
            }$secondary_color:#2a2a2a;$link_color:#2a2a2a;$link_color_hover:#00a82d;